body {

  color: #333;
  text-align: left;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#container{
  width: 70%;
  padding:0;
  text-align: left;
  border: 1px solid #DDD;
  margin: 0 auto;

}

#cabecera{
  color: white;
  box-shadow: 1px 7px 20px 0px rgba(81, 245, 174, 1);
  background: #9DC749;
  padding:0.5em;
  text-align:left;
  margin:0px;
  font-weight: bold;
}

#cabecera #tagline {
  padding: 0 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}

#container h1{
  font-size: 20px;
}

#container h1, p{
  margin: 15px;
}
